<h2>Registro de <strong>Alumnos</strong></h2>
<hr>
<h3><button  class="btn btn-outline-primary btn-block" [routerLink]="['../guardarA']">Añadir</button></h3>
<hr>


<div class="main">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rut</th>
            <th scope="col">Primer Nombre</th>
            <th scope="col">Segundo Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <!-- <th scope="col">Curso inscrito</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos">
            <td>{{ alumno.rut }}</td>
            <td>{{ alumno.nombre1 }}</td>
            <td>{{ alumno.nombre2}}</td>
            <td>{{ alumno.apellido1}}</td>
            <td>{{ alumno.apellido2}}</td>
            <!-- <td>{{ alumno.curso.nombre_curso}}</td> -->
            
          </tr>
        </tbody>
      </table>
    </div>

