

<div class="card">
    <div class="card-header">
      Crear nuevo Alumno
    </div>
    <div class="card-body card-body vh-10 row m-0 text-center align-items-center" >
      <h5 class="card-title">Campos</h5>
      <form autocomplete="off" [formGroup]="forma" (ngSubmit)="creates(forma.value)">
        <div class="form-group row">
            <label class="col-2 col-form-label">Primer Nombre</label>
            <div class="col-8">
                <input 
                type="text" 
                name="nombre" 
                placeholder="Primer Nombre"
                formControlName="nombre1">
            </div>
        </div>    
        <div class="form-group row">
            <label class="col-2 col-form-label">Segundo Nombre</label>
            <div class="col-8">
                <input 
                type="text" 
                name="nombre" 
                placeholder="Segundo Nombre"
                formControlName="nombre2">
            </div>
        </div>  
        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido Paterno</label>
            <div class="col-8">
                <input type="text" name="paterno" placeholder="Apellido Paterno" formControlName="apellido1">
            </div>
        </div>  
    
        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido Materno</label>
            <div class="col-8">
                <input type="text" name="materno" placeholder="Apellido Materno" formControlName="apellido2">
            </div>
        </div>  
        
        <div class="form-group row">
            <label class="col-2 col-form-label">Rut</label>
            <div class="col-8">
                <input type="text" name="rut" placeholder="Rut" formControlName="rut">
            </div>
        </div>  
        
        <!-- <div class="form-row">
            <div class="form-group ">
              <label for="inputAddress">Curso</label>
              <select class="form-select mb-md-0" id="formInput3" formControlName="id_curso" >
                <option value="">Seleccione</option>
                <option *ngFor="let cursoo of cu" [ngValue]="cursoo.id_curso" > {{ cursoo.nombre }}</option>
              </select>
            </div>
        </div> -->


        <div class="form-group row">

            <div class="input-group col">
              <button type="submit" class="btn btn-outline-primary btn-block">
                Guardar
              </button>
            </div>
          </div>
      
    
     </form>


    </div>
</div>


