
<div class="card">
    <div class="card-header">
      Crear nuevo Curso
    </div>
    <div class="card-body">
      <h5 class="card-title">Campos</h5>
      <form autocomplete="off" [formGroup]="forma" (ngSubmit)="creates(forma.value)">

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input 
                type="text" 
                name="nombre" 
                placeholder="Nombre"
                formControlName="nombre">
            </div>
        </div>    
       
        
        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col">
              <button type="submit" class="btn btn-outline-primary btn-block">
                Guardar
              </button>
              <button  class="btn btn-outline-danger btn-block"  >
               Atrás
              </button>
            </div>
          </div>
    
    </form>
    </div>
  </div>

