<h2>Formulario <strong>Profesor</strong></h2>
<hr>
<h3><button  class="btn btn-outline-primary btn-block" [routerLink]="['../guardarP']">Añadir</button></h3>
<hr>


<div class="main">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Número Registro</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pro of profesor">
            <td>{{ pro.id_profesor}}</td>
            <td>{{ pro.nombreProfesor }}</td>
            <td>{{ pro.apellidoProfesor}}</td>

            
          </tr>
        </tbody>
      </table>
    </div>

